{% extends 'base.html' %}

{% block content %}
<h2>Answer some questions</h2>
{% if messages %}

{% for message in messages %}

<p>{{message}}</p>

{% endfor %}

{% endif %}

{% if question != None %}

<p>Right count</p>
{{question.right_count}}
total: {{question.total_right_count}}
<p>wrong count</p>
{{question.wrong_count}}
total: {{question.total_wrong_count}}
<hr>
Q. {{question.question}}
<p>a. {{question.opt_a}}</p>
<p>b. {{question.opt_b}}</p>
<p>c. {{question.opt_c}}</p>
<p>d. {{question.opt_d}}</p>
{% if question.hint %}
<p>hint: {{question.hint}}</p>
{% else %}
<p> No hint for this question available</p>
{% endif %}

<form method="POST">
  {% csrf_token %}
  <input type="text" name="answer">
  <input type="submit" value="{{ title }}" />
</form>
{% else %}
no more questions
{% endif %}

{% endblock content %}

