{% extends 'base.html' %}

{% block content %}

{% if messages %}

{% for message in messages %}

<p>{{message}}</p>

{% endfor %}

{% endif %}

      <main>
        <h1>Answer some questions:</h1>
        <h4>Jump to question:</h4>

	<form method="POST">
	{% csrf_token %}
	<input class="border-dark form-control-sm" type="number" name="jump" min="1" placeholder="Question Number">
	<button class="btn btn-secondary active btn-sm" type="submit">Button</button>
	</form>

        <hr>
	<h2>Q.{{question.question_num}}: {{question.question}}</h2>
        <hr>
        <ul>
            <li>a. {{question.opt_a}} </li>
            <li>b. {{question.opt_b}} </li>
            <li>c. {{question.opt_c}} </li>
            <li>d. {{question.opt_d}} </li>
        </ul>

	<form method="POST">
	{% csrf_token %}
        <input class="form-control-lg" type="text" name="answer" placeholder="Answer"> <button class="btn btn-primary" type="button">Submit</button></div>
	</form>
	<hr>
      </main>

{% endblock content %}
