{% extends 'base.html' %}

{% block content %}

{% if messages %}

{% for message in messages %}

<p>{{message}}</p>

{% endfor %}

{% endif %}

      <div class="bg-secondary text-center">
        <h2>Answer some questions</h2>

	<p><b>Total questions: {{total_questions_total}}</b></p>
	<p><b>Total questions in this category: {{total_questions}}</b></p>
      </div>

      <div class="">
	<form method="POST" >
	{% csrf_token %}
      	<label><h5 class="align-content-center">Jump to question</h5></label>
	<input class="border-dark form-control-sm" type="number" name="jump" min="1" placeholder="Question Number">
	<input class="btn btn-secondary active btn-sm" type="submit" value="Jump">
	</form>
      </div>

      <main>
      <div class="container">
	<h2>Q.{{question.question_num}}: {{question.question}}</h2>
        <hr>
        <ul>
		<b><li class="">A. {{question.opt_a}} </li></b>
		<b><li class="">B. {{question.opt_b}} </li></b>
		<b><li class="">C. {{question.opt_c}} </li></b>
		<b><li class="">D. {{question.opt_d}} </li></b>
        </ul>

	<form method="POST">
	{% csrf_token %}
        <input class="form-control-lg" type="text" name="answer" placeholder="Answer"> <input class="btn btn-primary" type="submit" value="Submit">
	</form>
	<hr>
	</div>
      </main>

{% endblock content %}
